body{
    margin: 0;
    background-color: rgb(242, 242, 163);
    color: rgb(83, 83, 83);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}
header{
    box-shadow: 5px 5px 5px #68696c;
    position: sticky;
    top: 0px;
    z-index: 5;
}
nav{
    display: flex;
    justify-content: end;
    background-color: rgb(57, 119, 119);
}
ul{
    list-style: none;
    margin-right: 50px;
}
li{
    padding: 5px 10px;
    margin: 5px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:rgb(242, 242, 163)
}
.botones-nav{
    display: flex;
    margin-right: 20px;
}
.boton-general{
background-color: rgb(100, 99, 99);
border-radius: 15px;
padding: 5px 20px;
color: #fdfcfc;
}
.boton-general:hover{
    background-color: darkslategray;
    color: blanchedalmond;
}
.boton-general:active{
    box-shadow: 0px 0px 8px 1px #7e7d7d;
}
.distribucion-general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}
.mi-nombre{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: rgb(89, 150, 150);
}
.foto-perfil{
    width: 30%;
    height: 30%;
    align-items: left;
    border-radius: 25px;
    overflow: hidden;
}
/* .conteiner-secundario{
    border: 2 solid grey;
    margin: 15px;
    background-color: blue;
} */
img{
    width: 70%;
    height: 70%;
    padding: 5px;
}

.seccion-misconocimientos{
    background-color: rgb(194, 194, 124)
}
/* .organizacion-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
p{
    width: 80%;
    text-align: center;
}
.alineacion-izq{
    text-align: left;
}
figure{
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}
figure:hover{
    border: 1px solid rgb(57, 119, 119);
    cursor: pointer;
}
figure:hover figcaption{
    color: rgb(57, 119, 119);
    font-weight: bold;
}
.seccion-cita{
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 119, 119);
    color: antiquewhite;
    align-items: center;
}
.texto-destacado{
    font-size: 4rem;
    margin: 5px;
}
i{
    font-size: 5rem;
    padding: 5px;
}
.container{
    display: flex;
    padding: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 107);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 5px;
}

article:hover {
    border: 1px solid rgb(57, 119, 119);
    cursor: pointer;
}

article:hover h3{
    color: rgb(242, 242, 163);
}
article:active{
    box-shadow: 0px 0px 8px 1px #7e7d7d;
}
/* .container-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
} */
div div{
    width: 50%;
    align-items: left;
}
input{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.redes-estilo {
    color: rgb(239, 244, 77);
    font-size: 20px;
    background-color: rgb(234, 22, 110);
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
}
