body{
    margin: 0;
    background-color: rgb(242, 242, 163);
    color: rgb(83, 83, 83);
}
header{
    box-shadow: 5px 5px 5px #68696c;
}
nav{
    display: flex;
    justify-content: end;
    background-color:rgb(158,195,180)
}
ul{
    list-style: none;
    margin-right: 50px;
}
li{
    background-color: rgb(215, 215, 219);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}
.botones-nav{
    display: flex;
    margin-right: 20px;
}
.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
}
.mi-nombre{
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: rgb(89, 150, 150);
}
.foto-perfil{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    overflow: hidden;
}
img{
    width: 200px;
    height: 150px;
}
.organizacion-general{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.fa-brands{
    font-size: 40px;
    text-align: center;
    background-color: rgb(232, 218, 239);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    align-items:center;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
}
article{
    background-color: rgb(180, 180, 107);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    padding: 5px;
    margin: 5px;
}
.conocimientos-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p{
    width: 80%;
}
footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.redes-estilo {
    color: rgb(239, 244, 77);
    font-size: 20px;
    background-color: rgb(234, 22, 110);
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
}
