body{
    margin: 0;
    background-color: rgb(242, 242, 163);
    color: rgb(83, 83, 83);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

header{
    box-shadow: 5px 5px 5px #68696c;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.container-nav{
    display: flex;
    justify-content: end;
    background-color: rgb(57, 119, 119);
}

ul{
    list-style: none;
    margin-right: 50px;
}

.botones-nav li{
    padding: 5px 10px;
    margin: 5px;
}

a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
}

a:hover{
    color:rgb(242, 242, 163)
}

 /* Estilos para link nav menos para contacto*/
ul.botones-nav li:not(.boton-general):active a {
    box-shadow: 0px 0px 8px 1px rgb(242, 242, 163);
    padding: 5px 20px;
    border-radius: 15px;
  }

.botones-nav{
    display: flex;
    margin-right: 20px;
}
/* Estilo para botones principales destacados */
.boton-general{
background-color: rgb(100, 99, 99);
border-radius: 15px;
padding: 5px 20px;
color: #fdfcfc;
transition-duration: 0.3s;
border: 1px solid transparent;
}

.boton-general:hover{
    background-color: darkslategray;
    color: blanchedalmond;
}

.boton-general:active{
    box-shadow: 0px 0px 8px 1px #7e7d7d;
}

.fa-bars{
    display: none;
    font-size: 2rem;
    text-align: left;
    color: transparent;
  }
  
  @media (max-width: 800px) {
    .botones-nav {
      display: none; 
    }
    .fa-bars{
      display: inline-block;
      color: beige;
    }
  }
/* Estilo para acomodar la info en las secciones */
.distribucion-general {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
}

.conteiner-presentacion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.presentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    width: 50%;
    padding: 10px;
}

@media (max-width: 930px){
    .conteiner-presentacion{
        flex-direction: column;
    }
    .presentacion{
        width: 100%;
        padding: 0;
        text-align: center;
        align-items: center;
    }
    .foto-perfil{
        margin: 20px;
    }
}

.mi-nombre {
    font-family: 'Poppins', sans-serif;
    font-size: 42px;
    color: rgb(89, 150, 150);
}

.foto-perfil{
    width: 60%;
    height: 60%;
    align-items: left;
    border-radius: 25px;
    overflow: hidden;
}

img{
    width: 70%;
    height: 70%;
    padding: 5px;
    justify-content: end;
}

.seccion-misconocimientos{
    background-color: rgb(194, 194, 124)
}

p{
    width: 80%;
    text-align: center;
}

.texto-izq{
    text-align: left;
    color: black;
}
figure{
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}

figure:hover{
    border: 1px solid rgb(57, 119, 119);
    cursor: pointer;
}

figure:hover figcaption{
    color: rgb(57, 119, 119);
    font-weight: bold;
}

.seccion-cita{
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 119, 119);
    color: antiquewhite;
    align-items: center;
}

.texto-destacado{
    font-size: 6rem;
    margin: 5px;
}

.texto-cita{
    font-size: 1.5rem;
    max-width: 800px;
}

i{
    font-size: 5rem;
    padding: 5px;
}

.container{
    display: flex;
    padding: 20px;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(180, 180, 107);
    border-radius: 10px;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 5px;
}

article:hover {
    border: 1px solid rgb(57, 119, 119);
    cursor: pointer;
}

article:hover h3{
    color: rgb(242, 242, 163);
}
article:active{
    box-shadow: 0px 0px 8px 1px #7e7d7d;
}
.container-contacto{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    background-color: rgb(241, 247, 247);
    border-radius: 20px;
    margin: 10px;
}
.contacto-redes{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: start;
    /* flex-wrap: wrap; */
    text-align: left;
    width: 50%;
    margin-top: 20px;
    /* margin-left: 20px; */
    padding: 10px;
}

.link-contactos {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 5px 10px;
    border: 1px solid transparent;
  }
  span{
    color: #3d3c3c;
  }

  .link-contactos:hover {
    color: rgb(57, 115, 129);
    cursor: pointer;
  }

  span:hover:not(.mi-nombre){
    color: black;
  }

  .link-contactos:active {
    box-shadow: 0px 0px 8px 1px #3d3c3c;
    border-radius: 25px;
  }
  
  .icono-redes {
    float: left;
    margin-right: 5px;
    font-size: large;
    color: rgb(59, 125, 128);
    border-radius: 100%;
  }

  .link-contactos:hover .icono-redes{
    background-color: rgb(114, 111, 111);
    color: white;
    }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    }

  .form-group {
    margin-bottom: 10px;
    /* box-sizing: border-box; */
    margin: 15px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    }

    input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    background-color: rgb(185, 185, 185);
    border-radius: 15px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    }

    input:focus{
    box-shadow: 0px 0px 8px 2px rgb(119, 118, 118);
    border: 1px solid transparent;
    }

    textarea:focus{
    box-shadow: 0px 0px 8px 1px rgb(119, 118, 118);
    border: 1px solid transparent;
    }

    input[type="email"]:valid:not(:placeholder-shown){
    border: green 2px solid;
    }

    input[type="text"]:valid:not(:placeholder-shown){
    border: green 2px solid;
    }

    textarea:valid:not(:placeholder-shown){
    border: green 2px solid;
    }

    input[type="email"]:invalid:not(:placeholder-shown) {
    border: 2px solid red;
    }

    @media (max-width: 900px) {
        .container-contacto {
          flex-direction: column;
          margin: 10px;
        }
        .contacto-redes {
            width: 100%;
        }
        .container-contacto{
            width: 100%;
        }
      }
      @media (max-width:495px) {
        .form-row{
            flex-direction: column;
        }
      }

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #7e7d7d;
}

.botones-footer{
    display: flex;  
}

ul.botones-footer li:active {
    border: 1px solid #fdfcfc;
    border-radius: 15px;
}
@media (max-width:500px){
  .botones-footer{
    display: none;
}  
.distribucion-general{
    padding: 10px;
}
}


.redes-estilo {
    color: rgb(44, 44, 44);
    font-size: 20px;
    background-color: rgb(59, 125, 128);
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
    transition-duration: 0.3s;
}

.redes-estilo:hover{
    background-color: black;
    color: #fdfcfc;
}

.redes-estilo:active{
    box-shadow: 0px 0px 8px 1px white;
}
